.spreadsheet {
    margin-top: 20px;
}

.spreadsheet table {
    border-collapse: collapse;
}

.spreadsheet th, td {
    border: 1px solid #ccc;
}

.spreadsheet th {
    background: #ddd;
}

.spreadsheet td.formula {
    background: #eef;
}

.spreadsheet td div {
    text-align: right;
    width: 110px;
    min-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 5px;
    padding-left: 5px;
}

.spreadsheet div.text {
    text-align: right;
}

.spreadsheet div.error {
    text-align: center;
    color: #800;
    font-size: 90%;
    border: solid 1px #800
}

.spreadsheet input {
    position: absolute;
    border: 0;
    width: 110px;
    height: 1.3em;
    font-size: 100%;
    color: transparent;
    background: transparent;
    padding: 0 5px;
}

.spreadsheet input:focus {
    color: #111;
    background: #efe;
}

.spreadsheet input:focus + div {
    white-space: nowrap;
}

.create-sheet * {
    display: block;
}

.create-sheet input {
    margin-bottom: 10px;
}