<div ng-if="sheets.length">
    <h1>Select a sheet</h1>

    <div ng-repeat="sheet in sheets">
        <a href="/sheet/{{sheet.id}}">{{sheet.title}}</a>
    </div>

    <h1>or create new</h1>
</div>

<div class="create-sheet">
    <h1 ng-if="!sheets.length">Create sheet</h1>
    <label>Title</label>
    <input ng-model="sheet.title" class="sheet-title" placeholder="Type sheet title">

    <label>Columns</label>
    <input ng-model="sheet.columns" type="number" max="20" min="1" class="sheet-title">

    <label>Rows</label>
    <input ng-model="sheet.rows" type="number" max="20" min="1" class="sheet-title">

    <button ng-click="createSheet()">Create</button>
</div>

