<a href="http://mathjs.org/docs/reference/functions.html" target="_blank">Supported functions</a>

<table class="spreadsheet" ng-co>
    <tr>
        <th>
            <button type="button" ng-click="reset();" title="Reset data">↻</button>
        </th>
        <th ng-repeat="col in cols">{{ col }}</th>
    </tr>
    <tr ng-repeat="row in rows">
        <th>{{ row }}</th>
        <td ng-repeat="col in cols" ng-class="{ formula: ( '=' === sheet.data[col+row][0] ) }">
            <input id="{{ col+row }}" style="text-transform: uppercase"
                   ng-model="sheet.data[col+row]"
                   ng-blur="calculate(col, row)"
                   ng-keydown="keydown( $event, col, row )"/>
            <div ng-class="{ error: errors[col+row], text: values[col+row][0] }">
                {{ errors[col+row] || values[col+row] }}
            </div>
        </td>
    </tr>
</table>
